
lmao
{
    background-image: url("https://i.pinimg.com/originals/61/8f/3b/618f3b5286fe630043b8292268ea6f60.jpg");
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    color: #537fbe;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

main table
{
    text-align: left;
}

main tfoot
{
    font-weight: bold;
}

